@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
}

.container {
  width: 100%;
  max-width: 100vw;
}

@font-face {
  font-family: "Objektiv Mk2 Lite";
  src: url("/fonts/ObjektivMk2_Trial_Lt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Objektiv Mk2 Mid";
  src: url("/fonts/ObjektivMk2_Trial_Md.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Objektiv Mk2 Bold";
  src: url("/fonts/ObjektivMk2_Trial_Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger World";
  src: url("/fonts/NeueFrutigerWorld-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.weatherwidget-io {
  width: 100% !important;
  height: 83px !important;
  display: block !important;
}